html, body, #root {
    height: 100%;
}

.triangle-container {
    margin-top: -12px;
}

.full-height {
    height: 100%;
}
.app-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(116, 116, 116, 0.2);
    min-height: 620px;
    border-radius: 5px;
}

.timeline-container-albums {
    flex-direction: row;
    align-items: flex-end;
    flex: 1; 
    display: flex;
    min-height: 250px;
    margin-top: -50px;
}

.album-content {
    background-color: rgb(235, 235, 235);
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.timeline-container {
    flex: 10;
    display: flex;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.align-center {
    justify-content: center;
}

.start-button-container {
    justify-content: center;
    padding: 10px;
}
