.navigation-container {
  background-color: white;
  /* border: 1px solid rgb(224, 224, 224); */
  /* border-bottom-right-radius: 2px; */
  /* flex: 1;
  display: flex; */
  flex-direction: column;
  align-items: stretch;
  justify-content: baseline;
  overflow-x: scroll;

}