.jumbotron {
    background-image: url('assets/safopone-jumbo.jpg');
    background-size: cover;
}

.navbar {
    background-color: #E1E1DB;
}

.jumbo-button{
    padding-top: 20px;
}

.custom-card{
    padding: 20px;
}

.nav-link{
    font-size: 18px;
}

.my-footer{
    background: #DDDDD6;
    padding: 20px 0 0 0;
}

.credits{
    padding: 15px 0 0 0;
}

#tr-footer{
    height: 15px;
    width:100%;
    background:transparent;
}
#root{ 
    background-color: rgb(140, 169, 223);
    min-height: 620px;
}