.search {
	position: relative;
	border-radius: 14;
	background-color: 'rgba(255, 255, 255, 0.9)';	
	margin-left: 0;
	width: 100%;
}

.search:hover {
	background-color: 'rgba(255, 255, 255, 0.25)';
}

.searchIcon {
	height: 100%;
	width: 15px;
	position: absolute;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inputRoot {
	color: 'inherit';
};

.inputInput {
	padding: 10px, 10px, 10px, 70px;
	width: 120;

};

.inputInput:focus {
	width: 200;
}