.timeline-container{
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    padding: 50px 0px 60px 0px;
}

.line-container { 
    position: relative;
    bottom: 92px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: -5px;
    margin-right: -5px;
}

.timeline-container::-webkit-scrollbar { 
    display: none;
}
