.timeline-container{
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    flex: 10;
    display: flex;
    z-index: 1;
}

.box-shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 10px 15px rgba(0,0,0,0.005);
}

.items-line {
    stroke: '#3B6295';
    stroke-width: '20';
}

.line-container { 
    position: relative;
    bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: -5px;
    margin-right: -5px;
    z-index: -1;
}

.triangle-container {
    margin-top: -31px;
}

.timeline-container::-webkit-scrollbar { 
    display: none;
}

.hide-scrollbar { 
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}