.menu-container {
  margin-top: 30px;
  min-width: 250px;
  max-width: 300px;
  border-radius: 3%;
  border-width: 1px;
  border-color: #E2E4E8;
  border-style: solid;
}

.menu-item {
  border-width: 1px;
  border-color: #E2E4E8;
  border-bottom-style: solid;
}

.first-menu-item {
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.last-menu-item {
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}