@media screen and (max-width: 767px) {
  .triangle-left {
    border-width: 15px 15px 15px 0;
    border-color: transparent #6980fe transparent transparent;

  }
  .triangle-right {
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #6980fe;

  }
}
@media screen and (min-width: 768px) {
  .triangle-left {
    border-width: 18px 18px 18px 0;
    border-color: transparent #6980fe transparent transparent;
  }
  .triangle-right {
    border-width: 18px 0 18px 18px;
    border-color: transparent transparent transparent #6980fe;

  }
}
@media screen and (min-width: 992px) {
  .triangle-left {
    border-width: 25px 25px 25px 0;
    border-color: transparent #6980fe transparent transparent;

  }
  .triangle-right {
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent #6980fe;

  }
}
@media screen and (min-width: 1200) {
  .triangle-left {
    border-width: 25px 25px 25px 0;
    border-color: transparent #6980fe transparent transparent;

  }
  .triangle-right {
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent #6980fe;

  }
}
.triangle-shape {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
}